<div class="container">
  <form action="answer" data-turbo="false">
    <input type="text" name="user" class="row justify-content-center">
    <input type="submit" value="Ask any questions!" class="btn btn-primary">
  </form>
</div>
